.Toolbar {

}

.Toolbar--Button {
    padding: 3px 10px;
    border: 2px solid #555;
    font-size: 12px;
    box-shadow: 2px 2px 1px -1px black;
    cursor: pointer;
}

.Toolbar--Button__active {
    background-color: #d0e1ff;
}