.TasksExplorer {
    border: 2px solid #555;
    padding: 20px;
  }
  
  .TasksExplorer--Title {
    font-size: 35px;
  }
  
  .TasksExplorer--Tasks {
  
  }
  
  .TasksExplorer--Table {
  
  }
  
  .TasksExplorer--TableRow {
  
  }