.HLayout {
    display: flex;
    flex-direction: row;
}

.VLayout {
    display: flex;
    flex-direction: column;
}

.HLayout--Fixed, 
.VLayout--Fixed {
    flex: 0 0 auto;
}

.HLayout--Stretch, 
.VLayout--Stretch {
    flex: 1 1 100px;
}

.VMargin {
    margin: 10px 0;
}

.VMargin__top {
    margin-bottom: 0;
}

.VMargin__bottom {
    margin-top: 0;
}

.HMargin {
    margin: 0 10px;
}

.HMargin__left {
    margin-right: 0;
}

.HMargin__right {
    margin-left: 0;
}