.TaskDetails {
    border: 2px solid black;
    font-size: 12px;
}

.TaskDetails__noData {
    display: none;
}

.TaskDetails--Caption {
    position: relative;
    top: -0.8em;
    left: 10px;
    background-color: white;
    display: inline-block;
    padding: 0 0.5em;
}

.TaskDetails--Property {
    padding: 5px;
}

.TaskDetails--PropCaption {
    width: 20%;
}

.TaskDetails--PropValue {

}