.SideBar {
    padding: 35px 0;
}

.SideBar--Button {
    background-color: #BBB;
    padding: 3px;
    border: 2px solid #555;
    border-right: none;
    font-size: 12px;
    margin-bottom: 3px;
    cursor: pointer;
}

