.Tasks {
    overflow: auto;
    border: 2px solid black;
}

.Tasks--Table {
    border-collapse: collapse;
    font-size: 12px;
}

.Tasks--TableRow {
    background-color: #EEE;
    cursor: default;
}

.Tasks--TableRow:nth-child(even) {
    background-color: white; 
}

.Tasks--TaskAction {
    width: 80px;
    padding: 2px;
    background-color: #d4d4d4;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin: 1px;
    cursor: pointer;
}

.Tasks--TaskAction__active {
    background-color: #d6fdd2;
}

.Tasks--TaskAction__completed {
    background-color: #fde4d2;
}

.Tasks--TableCell {
    text-align: center;
}